@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FEFBF6;
    font-family: 'Poppins', sans-serif;
    color: #764AF1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

h2 {
    margin-top: 80px;
}

input {
    outline: none;
    width: 280px;
    border: 2px solid #764AF1;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
}

input::placeholder {
    font-size: 14px;
}

input:focus {
    outline: none;
}

label {
    margin: 20px 0px 10px 0;
    font-size: 20px;
}

#show-button {
    background-color: #764AF1;
    color: #FEFBF6;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
}

#output-text {
    margin-top: 30px;
    padding: 10px 20px;
    color: #000;
    box-shadow: 0px 0px 1px 1px rgb(12, 10, 10);
    display: none;
}

footer {
    text-align: center;
    margin-top: 40px;
}

.footer-list {
    display: flex;
    list-style: none;
    justify-content: center;
}

.footer-list li {
    margin-right: 20px;
}

.footer-list i {
    font-size: 25px;
    color: #764AF1;
}